@model CijferRegistratie.Models.PogingCreateViewModel

@{
    ViewData["Title"] = "Create Special";
}

<h1>Create Special</h1>

<h4>Poging voor @Model.Vak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSpecial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="VakId" />
            <input type="hidden" asp-for="Vak" />

            <div class="form-group">
                <label asp-for="Jaar" class="control-label"></label>
                <input asp-for="Jaar" class="form-control" />
                <span asp-validation-for="Jaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resultaat" class="control-label"></label>
                <input asp-for="Resultaat" class="form-control" />
                <span asp-validation-for="Resultaat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="CreateSpecial" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Index" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
